.file-upload {
    margin-bottom: 20px; /* Espacio entre el cargador de archivos y el contenido */
  }
  
  .error-message {
    color: red; /* Color rojo para el mensaje de error */
    font-size: 14px;
    margin-top: 10px; /* Espacio entre el mensaje de error y otros elementos */
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none; /* Elimina los puntos de la lista */
  }
  
  li {
    margin: 5px 0; /* Espaciado entre los elementos de la lista */
  }
  
  button {
    margin-top: 15px; /* Espacio entre los botones y la lista de imágenes */
  }
  
  