<!-- Toolbar de Colaboración -->
<div class="flex justify-content-end mb-3 gap-2">
  <p-toast></p-toast>
  <p-button
    icon="pi pi-sitemap"
    label="Generar Mapa Mental"
    [loading]="isProcessingMindMap"
    (onClick)="generateMindMap()"
    [disabled]="!quillInstance || isProcessingMindMap"
    class="p-button-info"
  ></p-button>

  @if (!isCollaborativeMode) {
    <button
      pButton
      label="Iniciar Colaboración"
      icon="pi pi-users"
      (click)="showInviteDialog()"
      class="p-button-primary"
    ></button>
  } @else {
    <p-chip
      label="Modo Colaborativo Activo"
      icon="pi pi-users"
      [removable]="true"
      styleClass="bg-primary"
    ></p-chip>
    <p-button
      icon="pi pi-users"
      [label]="'Colaboradores'"
      (onClick)="toggleUsersPanel()"
    />
  }
</div>

<!-- Editor Quill -->
<div [ngClass]="tamanoPapel">
  <quill-editor
    #editor
    [styles]="{height: '100vh'}"
    (onEditorCreated)="created($event)"
    (onContentChanged)="changedContent($event)"
    [placeholder]="'Escribe aquí...'"
  >
    <div quill-editor-toolbar>
      <!-- Opciones del toolbar -->
      <span class="ql-formats">
        <select class="ql-font">
          <option selected></option>
          <option value="serif"></option>
          <option value="monospace"></option>
        </select>
        <select class="ql-size">
          <option value="small"></option>
          <option selected></option>
          <option value="large"></option>
          <option value="huge"></option>
        </select>
      </span>
      <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      </span>
      <span class="ql-formats">
        <select class="ql-color"></select>
        <select class="ql-background"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
        <select class="ql-align">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
      </span>
      <span class="ql-formats">
        <button class="ql-link"></button>
        <button class="ql-image"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-clean"></button>
      </span>
    </div>
  </quill-editor>
</div>

<!-- Panel de Usuarios -->
<app-users-panel #usersPanel></app-users-panel>
