/* You can add global styles to this file, and also import other style files */
// PRimeng
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

// Primeflex
@import "primeflex/primeflex.css";

// Iconos
@import "primeicons/primeicons.css";

// Estilo de quill
@import "quill/dist/quill.snow.css";

html{
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
